* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(45, 45, 45, 0.256);
    max-width: 80%;
    padding: 40px 30px;
    border: 2px solid transparent;
    border-radius: 10px;
}

h1{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

h2{
    font-size: 3rem;
    margin-bottom: 20px;
    color: yellow;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

p {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    margin-top: 50px;
    font-size: 1.5rem;
}

#increment-btn {
    width: 350px;
    height: 64px;
    font-size: 1.4rem;
    background-color: rgb(207, 12, 12);
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 12px;
    cursor: pointer;
}

#save-btn {
    width: 350px;
    height: 64px;
    font-size: 1.4rem;
    background-color: rgb(20, 131, 12); 
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}